/* ==============================================================================================
 * GLOBAL SETTINGS FILE
 *
 * You may copy this file to your project or use you own files to customize the variables.
 * Additionally, you may also just override the styles with your own. See README.md to know more
 * about that.
 * ============================================================================================== */


/* Base Variables
   These variables aren't tied to specific components neither are used as a base for any
   component values.
   ============================================================================================== */

/**
 * No JS Class
 * Some components (like Reveal) may hide themselves by default to prevent flash of unstyled content
 * in your page. This is the class you should be removing from the HTML tag when your JS main file
 * runs, making the components visible again.
 */
$noJsClass: "no-js";

/**
 * Z-Indexes
 * Components like Modal and OffCanvas work by using pop-ups in the user's screen and they have a
 * precedence over another. Usually you will want to display toasts at the very top, then modals
 * underneath them, then off-canvases underneath modals. We recommend spacing these values out by
 * increments of ten units just in case you create a component that needs to be between any other
 * two components.
 */
$zIndexes: (
	"toaster": 100,
	"modal": 90,
	"offCanvas": 80,
	"dropdown": 70,
	"chaser": 60,
	"tooltip": 50,
) !default;




/* Global Variables (common use variables)
   Some components may have specific variables that will default to the ones found in
   this section.
   ============================================================================================== */

/**
 * Border radius
 */
$globalBorderRadius: 3px !default;

/**
 * Transition Timing Function
 * Any easing function from easings.net should work on all major browsers.
 */
$globalTransitionTimingFunction: ease-in-out !default;

/**
 * Transition Duration
 */
$globalTransitionDuration: 0.3s !default;

/**
 * Overlay Background
 * Some components (like Modal and Off Canvas) show things in the user's screen and beneath those
 * things they place a transparent background that nearly hides the site to help shift the user's
 * attention to the content in the component (or... "thing"). Here we set that background color
 * and transparency.
 */
$globalOverlayBackground: rgba(#000, 0.8) !default;






/* Component-specific Variables
   ===================================================================== */

/* Dropdown
   --------------------------- */

/**
 * Padding of the dropdown list
 */
$dropdownBackground: #fff !default;

/**
 * Border property of the dropdown
 */
$dropdownBorder: 0 !default;

/**
 * @see $globalBorderRadius
 */
$dropdownBorderRadius: $globalBorderRadius !default;

/**
 * Time taken by the dropdown to begin the close animation after the use requests it to close. This
 * is useful for mouseout/mouseleave close events, but a bit odd when the close event is a click. In
 * that case, you may set this to `0s`.
 */
$dropdownCloseIntention: 50ms !default;

/**
 * Padding of the `<li>`s in the dropdown
 */
$dropdownItemPadding: 0 !default;

/**
 * Margin of the dropdown list
 */
$dropdownMargin: 0 !default;

/**
 * Padding of the dropdown list
 */
$dropdownPadding: ($globalSpacingXxs / 2) 0 !default;

/**
 * @see $globalTransitionDuration
 */
$dropdownTransitionDuration: $globalTransitionDuration !default;

/**
 * @see $globalTransitionTimingFunction
 */
$dropdownTransitionTimingFunction: $globalTransitionTimingFunction !default;



/* Modal
   --------------------------- */

/**
 * @see $globalBorderRadius
 */
$modalBorderRadius: $globalBorderRadius !default;

/**
 * Padding of the modal
 */
$modalPadding: ($globalSpacingXxs / 2) 0 !default;

/**
 * Background property of the modal
 */
$modalBackground: #fff !default;

/**
 * Max width of the modal
 */
$modalMaxWidth: (800px - ($globalSpacing * 2)) !default;

/**
 * @see $globalOverlayBackground
 */
$modalOverlayBackground: $globalOverlayBackground !default;

/**
 * @see $globalTransitionDuration
 */
$modalTransitionDuration: $globalTransitionDuration !default;

/**
 * @see $globalTransitionTimingFunction
 */
$modalTransitionTimingFunction: $globalTransitionTimingFunction !default;



/* Off Canvas
   --------------------------- */

/**
 * @see $globalTransitionDuration
 */
$offCanvasTransitionDuration: $globalTransitionDuration !default;

/**
 * @see $globalTransitionTimingFunction
 */
$offCanvasTransitionTimingFunction: $globalTransitionTimingFunction !default;

/**
 * @see $globalOverlayBackground
 */
$offCanvasOverlayBackground: $globalOverlayBackground !default;



/* Progressive Images
   --------------------------- */

$progressiveImageBackground: rgba(0, 0, 0, 0.05) !default;

$progressiveImageThumbnailLoadedTransitionDuration: 0.4s !default;

$progressiveImageImageLoadedTransitionDuration: 1s !default;



/* Reveal
   --------------------------- */

/**
 * Transition duration of component effects. Total time of the animation is this value plus the
 * second step delay (see below).
 *
 * @see $globalTransitionDuration
 */
$revealTransitionDuration: $globalTransitionDuration !default;

/**
 * @see $globalTransitionTimingFunction
 */
$revealTransitionTimingFunction: $globalTransitionTimingFunction !default;

/**
 * Some animations will asynchronously change two properties of the element. This variable sets the
 * amount of time between each transition. If you want to disable async animations, set this
 * to `0s`.
 */
$revealAsyncAnimationSecondStepDelay: ($revealTransitionDuration / 2) !default;



/* Select
   --------------------------- */

/**
 * Bare select color
 * Usually this is the default color of the links in your site.
 */
$selectBareButtonColor: #333 !default;

/**
 * Bare select hover color
 * Usually this is the hover color of the links in your site.
 */
$selectBareButtonHoverColor: #000 !default;

/**
 * Bare select padding
 */
$selectBareButtonPadding: 4px 16px 4px 0 !default;

/**
 * Hover color of the default select style
 */
$selectButtonHoverColor: #000 !default;

/**
 * Padding of the default select style
 */
$selectButtonPadding: 4px 40px 4px 8px !default;

/**
 * Padding of the dropdown itself
 */
$selectDropdownPadding: $dropdownPadding !default;

/**
 * Default color of the select item
 */
$selectItemColor: #333 !default;

/**
 * Color of the selected item(s) in the select
 */
$selectItemActiveColor: #36c !default;

/**
 * Hover color of the select item
 */
$selectItemHoverColor: #000 !default;

/**
 * Item line height
 */
$selectItemLineHeight: getLineHeight("solid") !default;

/**
 * Padding of the items inside the dropdown
 */
$selectItemPadding: $globalSpacingXxs 0 !default;



/* Tabbed
   --------------------------- */

/**
 * This enables the fix for the "double border" effect that happens when you put two items with the
 * same border width side-by-side. You must also set $tabbedFixDoubleBorderEffectMargin for this
 * to work.
 */
$tabbedFixDoubleBorderEffect: true !default;

/**
 * Negative margin that will be applied to items following other items in the navigation. This must
 * be equal to the border width of the items set in $tabbedNavItemBorder.
 */
$tabbedFixDoubleBorderEffectMargin: -1px !default;

/**
 * This border will be applied to active items and will override the border set
 * in $tabbedNavItemBorder.
 */
$tabbedNavItemActiveBorder: 1px solid #ccc !default;

/**
 * Background property of navigation items
 */
$tabbedNavItemBackground: #f1f1f1 !default;

/**
 * Border of the navigation items
 */
$tabbedNavItemBorder: 1px solid #ccc !default;

/**
 * Default text color of the nav links
 */
$tabbedNavLinkColor: #333 !default;

/**
 * Text color of active nav links
 */
$tabbedNavLinkActiveColor: #000 !default;

/**
 * Text color of hovered/focused nav links
 */
$tabbedNavLinkHoverColor: #000 !default;

/**
 * Padding of the nav links
 */
$tabbedNavLinkPadding: $globalSpacingXxs $globalSpacingXs !default;

/**
 * Set this to a negative value based on the nav item border set in $tabbedNavItemBorder if you'd
 * like the tabs to be displayed like real life folder tabs.
 */
$tabbedNavMarginBottom: -1px !default;

/**
 * Set this to a reasonable border property if you'd like a divider between the navigation and the
 * contents of the tabs.
 */
$tabbedNavBorderBottom: 1px solid #ccc !default;



/* Toaster/Toast
   --------------------------- */

/**
 * Background property of the toast
 */
$toastBackground: #333 !default;

/**
 * @see $globalBorderRadius
 */
$toastBorderRadius: $globalBorderRadius !default;

/**
 * Text color of the toast
 */
$toastColor: #fff !default;

/**
 * Padding of the toast
 */
$toastPadding: $globalSpacingXxs $globalSpacingXs !default;

/**
 * Space from the outside border of the screen to the toast element
 */
$toastScreenOffset: $globalSpacingXs !default;

/**
 * @see $globalTransitionDuration
 */
$toastTransitionDuration: $globalTransitionDuration !default;

/**
 * @see $globalTransitionTimingFunction
 */
$toastTransitionTimingFunction: $globalTransitionTimingFunction !default;

/**
 * Fixed width of the toast
 */
$toastWidth: 300px !default;



/* Tooltip
   --------------------------- */

$tooltipArrowSize: 10px !default;

$tooltipBackground: #333 !default;

$tooltipBorderRadius: $globalBorderRadius !default;

$tooltipColor: #fff !default;

$tooltipFontSize: 12px !default;

$tooltipLineHeight: getLineHeight("title") !default;

$tooltipPadding: 8px 10px !default;

/**
 * @see $globalTransitionDuration
 */
$tooltipTransitionDuration: $globalTransitionDuration !default;

/**
 * @see $globalTransitionTimingFunction
 */
$tooltipTransitionTimingFunction: $globalTransitionTimingFunction !default;



/* Video Player
   --------------------------- */

/**
 * @see $globalTransitionDuration
 */
$videoPlayerTransitionDuration: $globalTransitionDuration !default;

/**
 * @see $globalTransitionTimingFunction
 */
$videoPlayerTransitionTimingFunction: $globalTransitionTimingFunction !default;
