/* =========================================================================
 * CHASER OBJECT (beta)
 * ========================================================================= */

.o-chaser {
	position: absolute;
	width: 100%;

	&.is-chasing {
		position: fixed;
	}
}

.o-chaserPlaceholder {
	display: block;
}
