/* ==============================================================================================
 * CHASER
 * ============================================================================================== */

.o-chaser {
	position: absolute;
	width: 100%;
	z-index: map_get($zIndexes, "chaser");
}

.o-chaser.is-chasing {
	position: fixed;
}

.o-chaser.is-limited {
	position: absolute;
}

.o-chaserPlaceholder {
	display: block;
}
