/* =========================================================================
 * STYLED SELECT COMPONENT
 * ========================================================================= */

.c-select {
	position: relative;
	display: block;
	width: 100%;
}

.c-select__label {
	@extend .o-form__input;

	position: relative;
	z-index: 2;
	padding: 13px 40px 13px 16px;
	cursor: pointer;

	&:after {
		@extend %materialIcons;

		content: "expand_more";
		position: absolute;
		top: 50%;
		right: -3px;
		z-index: 2;
		margin-top: -0.5em;
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
		line-height: 1;
	}
}

.c-select__label:hover,
.c-select__label:focus,
.c-select__select:focus + .c-select__label {
	color: getColor("primary");
	border-color: getColor("primary");
}

.c-select__select {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 1;
}




/* Bare (text only/dropdown-like)
   ========================================================================= */

.c-select--bare {
	display: inline-block;
	width: auto;
}

.c-select--bare .c-select__label {
	position: relative;
	z-index: 2;
	padding: 11px 14px 11px 0;
	border: 0;
	font-size: getFontSize(6);
	color: getColor("gray");
	cursor: pointer;

	&:hover,
	&:focus {
		color: getColor("secondary");
	}

	&:after {
		content: "expand_more";
	}
}




/* Dropdown
   ========================================================================= */

.c-select__dropdown {
	@include elevation(8);
	top: 0;
	left: ($globalSpacingXxs * -1);
	padding: $globalSpacingXs $globalSpacingSm;
	z-index: 3;
}

.c-select__item {
	padding: $globalSpacingXxs;
	font-size: getFontSize(6);
	color: getColor("gray");
	line-height: 1;
	cursor: pointer;
	white-space: nowrap;

	&:hover,
	&:focus {
		color: getColor("secondary");
	}

	&.is-current {
		color: getColor("secondary");
	}
}

.c-select__title {
	display: block;
	font-weight: 700;
	line-height: 1.25;
}

.c-select__subtitle {
	display: block;
	color: getColor("gray");
	font-size: getFontSize(6);
	font-weight: 500;
	line-height: 1.25;
}

.c-select__item.is-active .c-select__subtitle,
.c-select__item:hover .c-select__subtitle,
.c-select__item:focus .c-select__subtitle {
	color: inherit;
}
