/* ==============================================================================================
 * CHASER
 * ============================================================================================== */

.c-chaser {
  position: absolute;
  width: 100%;

  &.is-chasing {
    position: fixed;
  }
}

.c-chaserPlaceholder {
  display: block;
}
