/* ==============================================================================================
 * MODAL
 * ============================================================================================== */

/* Global Container
   ============================================================================================== */

.c-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;
	z-index: map_get($zIndexes, "modal");
}




/* Overlay
   ============================================================================================== */

.c-modal__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	background: $modalOverlayBackground;
	transition: visibility $modalTransitionDuration $modalTransitionDuration,
		opacity $modalTransitionDuration $modalTransitionTimingFunction $modalTransitionDuration;
}

.c-modal.is-open .c-modal__overlay {
	visibility: visible;
	opacity: 1;
	transition: visibility $modalTransitionDuration,
		opacity $modalTransitionDuration $modalTransitionTimingFunction;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}




/* Content Container
   ============================================================================================== */

.c-modal__contentWrapper {
	position: relative;
	visibility: hidden;
	padding: $modalPadding;
	opacity: 0;
	background: $modalBackground;
	width: 100%;
	max-width: $modalMaxWidth;
	transition: visibility $modalTransitionDuration,
		opacity $modalTransitionDuration $modalTransitionTimingFunction;
}

.c-modal.is-open .c-modal__contentWrapper {
	visibility: visible;
	opacity: 1;
}

.c-modal--full .c-modal__contentWrapper {
	width: 100%;
	height: 100%;
	max-width: none;
	max-height: none;
}




/* Positioning
   ============================================================================================== */

.c-modal--top .c-modal__contentWrapper {
	margin-top: 0;
	margin-bottom: auto;
}

.c-modal--middle .c-modal__contentWrapper {
	margin-top: auto;
	margin-bottom: auto;
}

.c-modal--bottom .c-modal__contentWrapper {
	margin-top: auto;
	margin-bottom: 0;
}

.c-modal--left .c-modal__contentWrapper {
	margin-left: 0;
	margin-right: auto;
}

.c-modal--center .c-modal__contentWrapper {
	margin-left: auto;
	margin-right: auto;
}

.c-modal--right .c-modal__contentWrapper {
	margin-left: auto;
	margin-right: 0;
}




/* Close Button
   ============================================================================================== */

.c-modal__close {
	position: absolute;
	top: $globalSpacingSm;
	right: $globalSpacingSm;
	width: 32px;
	height: 32px;
	font-size: getFontSize(4);
	text-align: center;
	z-index: 10;

	&:before {
		@extend %icon;
		content: "close";
	}
}
