/* ==============================================================================================
 * PROGRESSIVE IMAGE
 * ============================================================================================== */

.c-progressiveImage {
	display: block;
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.c-progressiveImage--responsive {
	max-width: 100%;
}

.c-progressiveImage__fill {
	display: block;
}

.c-progressiveImage__imageFrame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $progressiveImageBackground;
}

.c-progressiveImage__thumbnail {
	opacity: 0;
	width: 100%;
}

.c-progressiveImage.is-loadingThumbnail .c-progressiveImage__thumbnail {
	display: none;
	opacity: 1;
}

.c-progressiveImage__canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: auto;
	box-sizing: border-box;
	vertical-align: baseline;
}

.c-progressiveImage__originalImage {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
	z-index: 2;
	box-sizing: border-box;
}

.c-progressiveImage__canvas {
	visibility: hidden;
	opacity: 0;
	backface-visibility: hidden;
}

.c-progressiveImage.is-thumbnailLoaded .c-progressiveImage__canvas {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s 0s, opacity $progressiveImageThumbnailLoadedTransitionDuration 0s;
}

.c-progressiveImage__originalImage {
	visibility: hidden;
	opacity: 0;
	backface-visibility: hidden;
}

.c-progressiveImage.is-imageLoaded .c-progressiveImage__originalImage {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity $progressiveImageImageLoadedTransitionDuration 0s;
}




/* Fit
 * ============================================================================================== */

.c-progressiveImage--fit {
	height: 100%;
}

.c-progressiveImage--fitCover .c-progressiveImage__canvas,
.c-progressiveImage--fitCover .c-progressiveImage__originalImage {
	object-fit: cover;
}

.c-progressiveImage--fitContain .c-progressiveImage__canvas,
.c-progressiveImage--fitContain .c-progressiveImage__originalImage {
	object-fit: contain;
}

.c-progressiveImage--fitFill .c-progressiveImage__canvas,
.c-progressiveImage--fitFill .c-progressiveImage__originalImage {
	object-fit: fill;
}

.c-progressiveImage--fitScaleDown .c-progressiveImage__canvas,
.c-progressiveImage--fitScaleDown .c-progressiveImage__originalImage {
	object-fit: scale-down;
}
