/* ==============================================================================================
 * SELECT
 * ============================================================================================== */

.c-select {
	position: relative;
	display: block;
	width: 100%;
}

.c-select__button {
	@extend .o-form__input;
	position: relative;
	z-index: 2;
	padding: $selectButtonPadding;
	text-align: left;
	cursor: pointer;

	&:after {
		@extend %icon;

		content: "expand_more";
		position: absolute;
		top: 50%;
		right: 4px;
		z-index: 2;
		margin-top: -0.5em;
		font-size: inherit;
		font-weight: inherit;
		color: inherit;
		line-height: 1;
	}
}

.c-select__button:hover,
.c-select__button:focus,
.c-select__select:focus + .c-select__button {
	color: $selectButtonHoverColor;
}

.c-select__select {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 1;
}




/* Bare (text only/dropdown-like)
   ============================================================================================== */

.c-select--bare {
	display: inline-block;
	width: auto;
}

.c-select--bare .c-select__button {
	position: relative;
	z-index: 2;
	padding: $selectBareButtonPadding;
	border: 0;
	cursor: pointer;
	color: $selectBareButtonColor;

	&:hover,
	&:focus {
		color: $selectBareButtonHoverColor;
	}

	&:after {
		content: "expand_more";
	}
}




/* Dropdown
   ============================================================================================== */

.c-select .c-dropdown {
	position: absolute;
	top: 0;
	padding: $selectDropdownPadding;
}

.c-select__groupLabel {
	font-weight: 700;
}

.c-select__groupList {
	list-style-type: none;
	margin: 0;
}

.c-select__item,
.c-select__groupLabel {
	padding: $selectItemPadding;
	color: $selectItemColor;
	line-height: $selectItemLineHeight;
	white-space: nowrap;
}

.c-select__item {
	cursor: pointer;

	&:hover,
	&:focus {
		color: $selectItemHoverColor;
	}

	&.is-active {
		color: $selectItemActiveColor;
	}
}

.c-select__item--group {
	padding-left: $selectGroupItemPadding;
}

.c-select__title {
	display: block;
	font-weight: 700;
	line-height: getLineHeight("title");
}

.c-select__subtitle {
	display: block;
}

.c-select__item.is-active .c-select__subtitle,
.c-select__item:hover .c-select__subtitle,
.c-select__item:focus .c-select__subtitle {
	color: inherit;
}
