/* =================================================================================================
 * TABBED
 *
 * HOW TO USE
 * See Tabbed.js
 * ============================================================================================== */

.c-tabbed__nav {
	border-bottom: $tabbedNavBorderBottom;
	margin-bottom: 0;
}

.c-tabbed__navItem {
	display: inline-block;
	margin-bottom: $tabbedNavItemMarginBottom;
	background: $tabbedNavItemBackground;
	border: $tabbedNavItemBorder;
}

@if ($tabbedFixDoubleBorderEffect) {
	.c-tabbed__navItem + .c-tabbed__navItem {
		// This counters the "double-border effect" between items
		margin-left: $tabbedFixDoubleBorderEffectMargin;
	}
}

.c-tabbed__navItem.is-active {
	border: $tabbedNavItemActiveBorder;
}

.c-tabbed__navLink {
	display: inline-block;
	padding: $tabbedNavLinkPadding;
	color: $tabbedNavLinkColor;
}

.c-tabbed__navItem.is-active .c-tabbed__navLink {
	color: $tabbedNavLinkActiveColor;
}

.c-tabbed__navLink:hover,
.c-tabbed__navLink:focus {
	color: $tabbedNavLinkHoverColor;
}

.c-tabbed__tab {
	display: none;
}

.c-tabbed__tab.is-active {
	display: block;
}
