/* ==============================================================================================
 * SUSHI BAZOOKA'S TOOLTIP
 * ============================================================================================== */

.c-tooltip {
	display: none;
	position: absolute;
	z-index: map_get($zIndexes, "tooltip");
	padding: $tooltipPadding;
	background: $tooltipBackground;
	border-radius: $tooltipBorderRadius;
	font-size: 0;
	color: $tooltipColor;
	line-height: $tooltipLineHeight;
	text-align: center;
	white-space: nowrap;
	opacity: 0;
	transition: opacity $tooltipTransitionDuration $tooltipTransitionTimingFunction;
	cursor: default;
	transform: translateX(-50%);
}

.c-tooltip.is-visible {
	display: block;
}

.c-tooltip.is-open {
	opacity: 1;
}

.c-tooltip__arrow {
	position: absolute;
	background: inherit;
}

.c-tooltip__arrow:before,
.c-tooltip__arrow:after {
	content: "";
	position: absolute;
	z-index: 2;
	width: $tooltipArrowSize;
	height: $tooltipArrowSize;
	background: inherit;
	transform: rotateZ(45deg);
}

.c-tooltip__arrow:after {
	z-index: 3;
}

.c-tooltip,
.c-tooltip__arrow:before {
	@include elevation(4);
}


// Top
.c-tooltip--top .c-tooltip__arrow {
	top: calc(100% - #{($tooltipArrowSize / 2)});
	left: calc(50% - #{($tooltipArrowSize / 2)});
}


// Bottom
.c-tooltip--bottom .c-tooltip__arrow {
	bottom: calc(100% + #{($tooltipArrowSize / 2)});
	left: calc(50% - #{($tooltipArrowSize / 2)});
}


// Right
.c-tooltip--right .c-tooltip__arrow {
	top: calc(50% - #{($tooltipArrowSize / 2)});
	right: calc(100% + #{($tooltipArrowSize / 2)});
}


// Left
.c-tooltip--left .c-tooltip__arrow {
	top: calc(50% - #{($tooltipArrowSize / 2)});
	left: calc(100% - #{($tooltipArrowSize / 2)});
}

.c-tooltip__content {
	position: relative;
	display: inline-block;
	z-index: 2;
	padding: $tooltipPadding;
	background: inherit;
	border-radius: $tooltipBorderRadius;
	font-size: $tooltipFontSize;
	line-height: $tooltipLineHeight;
	color: $tooltipColor;
	text-align: center;
	overflow: hidden;
}
