/* =========================================================================
 * MODAL COMPONENT
 * ========================================================================= */

/* Container
   ========================================================================= */

.o-modals {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 150;
}




/* Overlay
   ========================================================================= */

.o-modalOverlay {
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: 160;
	transition: visibility 0.3s 0.3s, opacity 0.3s ease 0.3s;
	background: rgba(#f2f2f2, 0.9);

	&.is-open {
		visibility: visible;
		opacity: 1;
		transition: visibility 0.3s, opacity 0.3s ease;
	}
}




/* Modal
   ========================================================================= */

.o-modalContainer {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.o-modal {
	position: relative;
	visibility: hidden;
	padding: $globalSpacingSm;
	opacity: 0;
	background: #fff;
	width: 100%;
	max-width: (800px - ($globalSpacing * 2));
	transition: visibility 0.3s, opacity 0.3s ease-in-out;

	@include mq($from: tabletV) {
		padding: $globalSpacing;
	}

	@include mq($from: tabletH) {
		padding: $globalSpacingXl;
	}

	&.is-open {
		visibility: visible;
		opacity: 1;
	}
}

.o-modal--full {
	width: 100%;
	height: 100%;
	max-width: none;
	max-height: none;
}

.o-modal--dark {
	background: #000;
}




/* Centering
   ========================================================================= */

// CSS-only centering
// ---------------------------

.o-modalContainer--hCenter,
.o-modalContainer--vCenter {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
}

.o-modalContainer--hCenter {
	//justify-content: center;
}

.o-modalContainer--hCenter .o-modal {
	margin-right: auto;
	margin-left: auto;
}

.o-modalContainer--vCenter {
	//align-items: center;
}

.o-modalContainer--vCenter .o-modal {
	margin-top: auto;
	margin-bottom: auto;
}



// JavaScript centering
// ---------------------------

.o-modalContainer--calculatedHCenter .o-modal,
.o-modalContainer--calculatedVCenter .o-modal {
	position: absolute;
}

.o-modalContainer--calculatedHCenter .o-modal {
	left: 50%;
}

.o-modalContainer--calculatedVCenter .o-modal {
	top: 50%;
}




/* Close Button
   ========================================================================= */

.o-modal__close {
	position: absolute;
	top: $globalSpacingSm;
	right: $globalSpacingSm;
	margin: 0 -4px 0 0;
	width: 32px;
	height: 32px;
	font-size: 24px;
	text-align: center;
	z-index: 10;

	&:before {
		content: 'clear';
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		display: inline-block;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'liga';
	}

	@include mq($from: tabletV) {
		font-size: 36px;
		width: 48px;
		height: 48px;
	}
}

.mobile .o-modal__close {
	&:hover,
	&:active {
		color: getColor(primary);
	}
}
