/* =========================================================================
 * VIDEO PLAYER COMPONENT
 * ========================================================================= */

.c-videoPlayer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s $easeInOutQuart;

}

.is-playing > .c-videoPlayer{
	opacity: 1;
	visibility: visible;
}

.ios .c-videoPlayer {
	visibility: visible;
}
