/* ==============================================================================================
 * ICON TOOL
 *
 * Placeholder class to standardize the styling of icons across the
 * components. By default it uses Material Icons and you must include
 * the font CSS (//fonts.googleapis.com/icon?family=Material+Icons) for
 * it to properly work.
 *
 * You might want to customize this placeholder class or remove it
 * entirely, but keep in mind some components rely on it by default.
 * ============================================================================================== */

%icon {
	content: "";
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
}
